<html>

{{template "header.html"}}

<div id="body" align="center">
    <div id="page">
        <h4 align="center">{{.Title}}</h4>
        <form action="/s/{{.Title}}" method="POST">
            <textarea name="body">{{printf "%s" .Body}}</textarea>
            <input type="submit" value="Save">
        </form>
    </div>

    <div id="tags">
        {{range $k, $v := .Tags}}
            <div><span class="tag" style="background: {{str2col $k}}"><span class="tagcol">{{$k}}</span></span></div>
        {{end}}
        <div>
            <form action="/s/{{.Title}}" method="POST">
                <input type="text" name="tag">
                <input type="submit" value="Add tag">
            </form>
        </div>
    </div>
</div>

{{template "footer.html"}}

</html>
