html, body {
    background: #171717;
    height: 97%;
}

#body, form {
    height: 90%;
}

#page {
    width: 60%;
    height: 100%;
}

h4 {
    text-align: left;
    font-family: Courier;
    color: #e9e9e9;
    border-bottom: 5px double;
    border-color: #e9e9e9;
}

textarea {
    font-family: Courier;
    font-size: 90%;
    width: 100%;
    height: 100%;
    background: #171717;
    color: #e9e9e9;
    border: 1px solid #171717;
    outline: none;
    resize: none;
}

input[type=submit] {
    background-color: #e9e9e9;
    border: none;
    color: #171717;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    font-family: Courier;
}

#logo {
    float: right;
    color: #e9e9e9;
    white-space: pre-wrap;
}
